body {
  margin:0px;
  background-color:rgba(242, 244, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2249px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:1759px;
}
#u2545 {
  position:absolute;
  left:100px;
  top:100px;
  width:868px;
  height:1759px;
}
#u2546 {
  position:absolute;
  left:2px;
  top:872px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2547_img {
  position:absolute;
  left:-30px;
  top:-30px;
  width:820px;
  height:1404px;
}
#u2547 {
  position:absolute;
  left:159px;
  top:309px;
  width:750px;
  height:1334px;
  color:#8C8C8C;
}
#u2548 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2549 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:108px;
}
#u2550 {
  position:absolute;
  left:159px;
  top:347px;
  width:750px;
  height:108px;
  color:#8C8C8C;
}
#u2551 {
  position:absolute;
  left:2px;
  top:46px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:48px;
}
#u2552 {
  position:absolute;
  left:304px;
  top:377px;
  width:205px;
  height:48px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#FFFFFF;
}
#u2553 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u2554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u2554 {
  position:absolute;
  left:209px;
  top:386px;
  width:35px;
  height:30px;
}
#u2555 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u2556 {
  position:absolute;
  left:159px;
  top:309px;
  width:750px;
  height:40px;
}
#u2557 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#A8B6C2;
}
#u2558 {
  position:absolute;
  left:480px;
  top:505px;
  width:109px;
  height:42px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#A8B6C2;
}
#u2559 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2560 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:205px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2561 {
  position:absolute;
  left:318px;
  top:597px;
  width:485px;
  height:205px;
}
#u2562 {
  position:absolute;
  left:2px;
  top:94px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:42px;
  background:inherit;
  background-color:rgba(110, 122, 137, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#A8B6C2;
}
#u2563 {
  position:absolute;
  left:358px;
  top:632px;
  width:120px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#A8B6C2;
}
#u2564 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u2565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:84px;
  background:inherit;
  background-color:rgba(110, 122, 137, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#A8B6C2;
}
#u2565 {
  position:absolute;
  left:358px;
  top:684px;
  width:352px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#A8B6C2;
}
#u2566 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u2567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:69px;
}
#u2567 {
  position:absolute;
  left:209px;
  top:597px;
  width:69px;
  height:69px;
}
#u2568 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#A8B6C2;
  text-align:center;
}
#u2569 {
  position:absolute;
  left:498px;
  top:852px;
  width:74px;
  height:42px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#A8B6C2;
  text-align:center;
}
#u2570 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u2571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:105px;
  background:inherit;
  background-color:rgba(90, 177, 154, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2571 {
  position:absolute;
  left:640px;
  top:938px;
  width:229px;
  height:105px;
}
#u2572 {
  position:absolute;
  left:2px;
  top:44px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:42px;
  background:inherit;
  background-color:rgba(110, 122, 137, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u2573 {
  position:absolute;
  left:680px;
  top:970px;
  width:175px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u2574 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u2575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:115px;
}
#u2575 {
  position:absolute;
  left:159px;
  top:1535px;
  width:750px;
  height:115px;
  color:#8C8C8C;
}
#u2576 {
  position:absolute;
  left:2px;
  top:50px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:44px;
}
#u2577 {
  position:absolute;
  left:209px;
  top:1571px;
  width:36px;
  height:44px;
}
#u2578 {
  position:absolute;
  left:2px;
  top:14px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 253, 251, 1) 0%, rgba(255, 253, 251, 1) 0%, rgba(248, 247, 247, 1) 100%, rgba(248, 247, 247, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 253, 251, 1) 0%, rgba(255, 253, 251, 1) 0%, rgba(248, 247, 247, 1) 100%, rgba(248, 247, 247, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 253, 251, 1) 0%, rgba(255, 253, 251, 1) 0%, rgba(248, 247, 247, 1) 100%, rgba(248, 247, 247, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#A8B6C2;
  text-align:center;
}
#u2579 {
  position:absolute;
  left:305px;
  top:1572px;
  width:203px;
  height:42px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#A8B6C2;
  text-align:center;
}
#u2580 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u2581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:42px;
}
#u2581 {
  position:absolute;
  left:755px;
  top:1572px;
  width:104px;
  height:42px;
}
#u2582 {
  position:absolute;
  left:2px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2583 {
  position:absolute;
  left:209px;
  top:1093px;
  width:70px;
  height:70px;
}
#u2584 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2585 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:277px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2586 {
  position:absolute;
  left:318px;
  top:1093px;
  width:485px;
  height:277px;
}
#u2587 {
  position:absolute;
  left:2px;
  top:130px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:42px;
  background:inherit;
  background-color:rgba(110, 122, 137, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#A8B6C2;
}
#u2588 {
  position:absolute;
  left:368px;
  top:1143px;
  width:121px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#A8B6C2;
}
#u2589 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:135px;
  background:inherit;
  background-color:rgba(110, 122, 137, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:32px;
  color:#B2B2B2;
}
#u2590 {
  position:absolute;
  left:368px;
  top:1195px;
  width:352px;
  height:135px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:32px;
  color:#B2B2B2;
}
#u2591 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u2592_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:780px;
  height:1332px;
}
#u2592 {
  position:absolute;
  left:159px;
  top:348px;
  width:750px;
  height:1302px;
}
#u2593 {
  position:absolute;
  left:2px;
  top:643px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2594 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  -webkit-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  color:#8C8C8C;
}
#u2595 {
  position:absolute;
  left:385px;
  top:826px;
  width:300px;
  height:300px;
  color:#8C8C8C;
}
#u2596 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:124px;
}
#u2597 {
  position:absolute;
  left:461px;
  top:883px;
  width:172px;
  height:124px;
  color:#8C8C8C;
}
#u2598 {
  position:absolute;
  left:2px;
  top:54px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
}
#u2599 {
  position:absolute;
  left:484px;
  top:1039px;
  width:103px;
  height:48px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#8C8C8C;
}
#u2600 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u2601 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2602_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:680px;
  height:210px;
}
#u2602 {
  position:absolute;
  left:209px;
  top:485px;
  width:650px;
  height:180px;
  color:#8C8C8C;
}
#u2603 {
  position:absolute;
  left:2px;
  top:82px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u2604 {
  position:absolute;
  left:229px;
  top:520px;
  width:110px;
  height:110px;
}
#u2605 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  line-height:36px;
}
#u2606 {
  position:absolute;
  left:358px;
  top:515px;
  width:393px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  line-height:36px;
}
#u2607 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u2608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:26px;
  color:#ADB9C1;
  line-height:36px;
}
#u2608 {
  position:absolute;
  left:358px;
  top:597px;
  width:264px;
  height:36px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:26px;
  color:#ADB9C1;
  line-height:36px;
}
#u2609 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  white-space:nowrap;
}
#u2610 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:180px;
}
#u2611 {
  position:absolute;
  left:759px;
  top:485px;
  width:100px;
  height:180px;
  color:#8C8C8C;
}
#u2612 {
  position:absolute;
  left:2px;
  top:82px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:35px;
}
#u2613 {
  position:absolute;
  left:794px;
  top:558px;
  width:30px;
  height:35px;
}
#u2614 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2615 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:412px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  -webkit-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  color:#8C8C8C;
}
#u2616 {
  position:absolute;
  left:240px;
  top:843px;
  width:589px;
  height:412px;
  color:#8C8C8C;
}
#u2617 {
  position:absolute;
  left:2px;
  top:198px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:59px;
}
#u2618 {
  position:absolute;
  left:370px;
  top:917px;
  width:379px;
  height:59px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#FF5D30;
}
#u2619 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u2620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
}
#u2620 {
  position:absolute;
  left:710px;
  top:1161px;
  width:69px;
  height:48px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#666666;
}
#u2621 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u2622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
}
#u2622 {
  position:absolute;
  left:591px;
  top:1161px;
  width:69px;
  height:48px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#666666;
}
#u2623 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u2624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:36px;
}
#u2624 {
  position:absolute;
  left:300px;
  top:929px;
  width:31px;
  height:36px;
}
#u2625 {
  position:absolute;
  left:2px;
  top:10px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:80px;
}
#u2626 {
  position:absolute;
  left:370px;
  top:999px;
  width:379px;
  height:80px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#AEAEAE;
}
#u2627 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  word-wrap:break-word;
}
#u2628 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2629 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2630_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:700px;
  height:390px;
}
#u2630 {
  position:absolute;
  left:1217px;
  top:201px;
  width:650px;
  height:340px;
}
#u2630_img.selected {
}
#u2630.selected {
}
#u2631 {
  position:absolute;
  left:2px;
  top:162px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:236px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u2632 {
  position:absolute;
  left:1267px;
  top:254px;
  width:550px;
  height:236px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u2633 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u2634_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:700px;
  height:430px;
}
#u2634 {
  position:absolute;
  left:1217px;
  top:591px;
  width:650px;
  height:380px;
}
#u2634_img.selected {
}
#u2634.selected {
}
#u2635 {
  position:absolute;
  left:2px;
  top:182px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:295px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u2636 {
  position:absolute;
  left:1267px;
  top:634px;
  width:550px;
  height:295px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u2637 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u2638_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:700px;
  height:350px;
}
#u2638 {
  position:absolute;
  left:1217px;
  top:1021px;
  width:650px;
  height:300px;
}
#u2638_img.selected {
}
#u2638.selected {
}
#u2639 {
  position:absolute;
  left:2px;
  top:142px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u2640 {
  position:absolute;
  left:1267px;
  top:1083px;
  width:550px;
  height:177px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u2641 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u2642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:35px;
}
#u2642 {
  position:absolute;
  left:1624px;
  top:1095px;
  width:30px;
  height:35px;
}
#u2643 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u2644 {
  position:absolute;
  left:2099px;
  top:576px;
  width:150px;
  height:150px;
}
#u2645 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
