body {
  margin:0px;
  background-color:rgba(242, 244, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2239px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:1759px;
}
#u522 {
  position:absolute;
  left:100px;
  top:100px;
  width:868px;
  height:1759px;
}
#u523 {
  position:absolute;
  left:2px;
  top:872px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_img {
  position:absolute;
  left:-30px;
  top:-30px;
  width:820px;
  height:1404px;
}
#u524 {
  position:absolute;
  left:159px;
  top:313px;
  width:750px;
  height:1334px;
}
#u525 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u526 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:108px;
}
#u527 {
  position:absolute;
  left:159px;
  top:351px;
  width:750px;
  height:108px;
}
#u528 {
  position:absolute;
  left:2px;
  top:46px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u529 {
  position:absolute;
  left:209px;
  top:390px;
  width:35px;
  height:30px;
}
#u530 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:48px;
}
#u531 {
  position:absolute;
  left:294px;
  top:381px;
  width:137px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#5E5E5E;
}
#u532 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:3px;
  background:inherit;
  background-color:rgba(216, 216, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u533 {
  position:absolute;
  left:209px;
  top:598px;
  width:650px;
  height:3px;
}
#u534 {
  position:absolute;
  left:2px;
  top:-6px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u535 {
  position:absolute;
  left:206px;
  top:519px;
  width:300px;
  height:59px;
}
#u535_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:59px;
  background-color:transparent;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u536 {
  position:absolute;
  left:204px;
  top:638px;
  width:655px;
  height:59px;
}
#u536_input {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:59px;
  background-color:transparent;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u537 {
  position:absolute;
  left:803px;
  top:373px;
  width:56px;
  height:56px;
}
#u538 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u539 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  -webkit-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
}
#u540 {
  position:absolute;
  left:384px;
  top:828px;
  width:300px;
  height:300px;
}
#u541 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:124px;
}
#u542 {
  position:absolute;
  left:460px;
  top:885px;
  width:172px;
  height:124px;
}
#u543 {
  position:absolute;
  left:2px;
  top:54px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
}
#u544 {
  position:absolute;
  left:483px;
  top:1041px;
  width:103px;
  height:48px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#8C8C8C;
}
#u545 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u546 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u547_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:480px;
  height:430px;
}
#u547 {
  position:absolute;
  left:321px;
  top:744px;
  width:450px;
  height:400px;
}
#u548 {
  position:absolute;
  left:2px;
  top:192px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
}
#u549 {
  position:absolute;
  left:468px;
  top:774px;
  width:69px;
  height:48px;
  font-size:34px;
}
#u550 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u551 {
  position:absolute;
  left:358px;
  top:774px;
  width:50px;
  height:50px;
}
#u552 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u553 {
  position:absolute;
  left:346px;
  top:844px;
  width:400px;
  height:1px;
}
#u554 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
}
#u555 {
  position:absolute;
  left:468px;
  top:976px;
  width:69px;
  height:48px;
  font-size:34px;
}
#u556 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u557 {
  position:absolute;
  left:358px;
  top:975px;
  width:50px;
  height:50px;
}
#u558 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u559 {
  position:absolute;
  left:334px;
  top:745px;
  width:400px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u560 {
  position:absolute;
  left:334px;
  top:948px;
  width:400px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u561 {
  position:absolute;
  left:346px;
  top:949px;
  width:400px;
  height:1px;
}
#u562 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
}
#u563 {
  position:absolute;
  left:468px;
  top:1071px;
  width:69px;
  height:48px;
  font-size:34px;
}
#u564 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u565 {
  position:absolute;
  left:358px;
  top:1071px;
  width:50px;
  height:50px;
}
#u566 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u567 {
  position:absolute;
  left:346px;
  top:1049px;
  width:400px;
  height:1px;
}
#u568 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u569 {
  position:absolute;
  left:358px;
  top:868px;
  width:50px;
  height:50px;
}
#u570 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
}
#u571 {
  position:absolute;
  left:468px;
  top:868px;
  width:69px;
  height:48px;
  font-size:34px;
}
#u572 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u573 {
  position:absolute;
  left:334px;
  top:847px;
  width:400px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u574 {
  position:absolute;
  left:334px;
  top:1050px;
  width:400px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u575 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  -webkit-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  color:#8C8C8C;
}
#u576 {
  position:absolute;
  left:240px;
  top:774px;
  width:589px;
  height:300px;
  color:#8C8C8C;
}
#u577 {
  position:absolute;
  left:2px;
  top:142px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:59px;
}
#u578 {
  position:absolute;
  left:387px;
  top:874px;
  width:295px;
  height:59px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#FF5D30;
}
#u579 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
}
#u580 {
  position:absolute;
  left:710px;
  top:996px;
  width:69px;
  height:48px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#666666;
}
#u581 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
}
#u582 {
  position:absolute;
  left:591px;
  top:996px;
  width:69px;
  height:48px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#666666;
}
#u583 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u584 {
  position:absolute;
  left:159px;
  top:313px;
  width:750px;
  height:40px;
}
#u585 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u586 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u587_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:700px;
  height:270px;
}
#u587 {
  position:absolute;
  left:1200px;
  top:300px;
  width:650px;
  height:220px;
}
#u587_img.selected {
}
#u587.selected {
}
#u588 {
  position:absolute;
  left:2px;
  top:102px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u589 {
  position:absolute;
  left:1250px;
  top:381px;
  width:550px;
  height:59px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u590 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u591 {
  position:absolute;
  left:1390px;
  top:381px;
  width:56px;
  height:56px;
}
#u592 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u593 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:538px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  -webkit-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  color:#8C8C8C;
}
#u594 {
  position:absolute;
  left:240px;
  top:655px;
  width:589px;
  height:538px;
  color:#8C8C8C;
}
#u595 {
  position:absolute;
  left:2px;
  top:261px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:59px;
}
#u596 {
  position:absolute;
  left:290px;
  top:705px;
  width:253px;
  height:59px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u597 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:53px;
}
#u598 {
  position:absolute;
  left:461px;
  top:801px;
  width:153px;
  height:53px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:38px;
  color:#666666;
  text-align:center;
}
#u599 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:53px;
}
#u600 {
  position:absolute;
  left:478px;
  top:884px;
  width:115px;
  height:53px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:38px;
  color:#666666;
  text-align:center;
}
#u601 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:53px;
}
#u602 {
  position:absolute;
  left:480px;
  top:965px;
  width:115px;
  height:53px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:38px;
  color:#666666;
  text-align:center;
}
#u603 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:53px;
}
#u604 {
  position:absolute;
  left:478px;
  top:1054px;
  width:123px;
  height:53px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:38px;
  color:#666666;
  text-align:center;
}
#u605 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u606 {
  position:absolute;
  left:717px;
  top:373px;
  width:56px;
  height:56px;
}
#u607 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u608 {
  position:absolute;
  left:2089px;
  top:566px;
  width:150px;
  height:150px;
}
#u609 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
