body {
  margin:0px;
  background-color:rgba(242, 244, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:968px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:1759px;
}
#u4758 {
  position:absolute;
  left:100px;
  top:100px;
  width:868px;
  height:1759px;
}
#u4759 {
  position:absolute;
  left:2px;
  top:872px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4760_img {
  position:absolute;
  left:-30px;
  top:-30px;
  width:820px;
  height:1404px;
}
#u4760 {
  position:absolute;
  left:159px;
  top:312px;
  width:750px;
  height:1334px;
  color:#8C8C8C;
}
#u4761 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4762 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:108px;
}
#u4763 {
  position:absolute;
  left:159px;
  top:350px;
  width:750px;
  height:108px;
  color:#8C8C8C;
}
#u4764 {
  position:absolute;
  left:2px;
  top:46px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u4765 {
  position:absolute;
  left:209px;
  top:389px;
  width:35px;
  height:30px;
  color:#8C8C8C;
}
#u4766 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
}
#u4767 {
  position:absolute;
  left:294px;
  top:380px;
  width:69px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#000000;
}
#u4768 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u4769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:748px;
  height:40px;
}
#u4769 {
  position:absolute;
  left:160px;
  top:312px;
  width:748px;
  height:40px;
}
#u4770 {
  position:absolute;
  left:2px;
  top:12px;
  width:744px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:100px;
}
#u4771 {
  position:absolute;
  left:199px;
  top:515px;
  width:670px;
  height:100px;
}
#u4772 {
  position:absolute;
  left:2px;
  top:42px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
