.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._列表 {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  color:#424242;
  text-align:left;
}
._摘要 {
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#AEAEAE;
  text-align:left;
}
._正文 {
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:32px;
  color:#707070;
  text-align:left;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.label {
  font-size:14px;
  text-align:left;
}
._图片 {
  color:#000000;
}
