body {
  margin:0px;
  background-color:rgba(242, 244, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2239px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:1759px;
}
#u3018 {
  position:absolute;
  left:100px;
  top:100px;
  width:868px;
  height:1759px;
}
#u3019 {
  position:absolute;
  left:2px;
  top:872px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3020_img {
  position:absolute;
  left:-30px;
  top:-30px;
  width:820px;
  height:1404px;
}
#u3020 {
  position:absolute;
  left:159px;
  top:313px;
  width:750px;
  height:1334px;
  color:#8C8C8C;
}
#u3021 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:108px;
}
#u3023 {
  position:absolute;
  left:159px;
  top:1539px;
  width:750px;
  height:108px;
  color:#8C8C8C;
}
#u3024 {
  position:absolute;
  left:2px;
  top:46px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3025 {
  position:absolute;
  left:159px;
  top:1539px;
  width:188px;
  height:108px;
  overflow:hidden;
}
#u3025_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:108px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3025_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:108px;
}
#u3026 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:108px;
}
#u3027 {
  position:absolute;
  left:2px;
  top:46px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
  background:inherit;
  background-color:rgba(202, 202, 202, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#CACACA;
}
#u3028 {
  position:absolute;
  left:72px;
  top:66px;
  width:45px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#CACACA;
}
#u3029 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u3030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
}
#u3030 {
  position:absolute;
  left:74px;
  top:12px;
  width:40px;
  height:45px;
}
#u3031 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3032 {
  position:absolute;
  left:345px;
  top:1539px;
  width:188px;
  height:108px;
  overflow:hidden;
}
#u3032_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:108px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3032_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:108px;
}
#u3033 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:108px;
}
#u3034 {
  position:absolute;
  left:2px;
  top:46px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
  background:inherit;
  background-color:rgba(202, 202, 202, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#CACACA;
}
#u3035 {
  position:absolute;
  left:72px;
  top:66px;
  width:45px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#CACACA;
}
#u3036 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u3037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u3037 {
  position:absolute;
  left:72px;
  top:13px;
  width:44px;
  height:44px;
}
#u3038 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3039 {
  position:absolute;
  left:533px;
  top:1539px;
  width:188px;
  height:108px;
  overflow:hidden;
}
#u3039_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:108px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3039_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:108px;
}
#u3040 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:108px;
}
#u3041 {
  position:absolute;
  left:2px;
  top:46px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#B3C6C1;
}
#u3042 {
  position:absolute;
  left:61px;
  top:66px;
  width:67px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#B3C6C1;
}
#u3043 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u3044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u3044 {
  position:absolute;
  left:72px;
  top:12px;
  width:44px;
  height:44px;
}
#u3045 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3046 {
  position:absolute;
  left:721px;
  top:1539px;
  width:188px;
  height:108px;
  overflow:hidden;
}
#u3046_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:108px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3046_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:108px;
}
#u3047 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:108px;
}
#u3048 {
  position:absolute;
  left:2px;
  top:46px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#CACACA;
}
#u3049 {
  position:absolute;
  left:72px;
  top:66px;
  width:45px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:22px;
  color:#CACACA;
}
#u3050 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u3051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:46px;
}
#u3051 {
  position:absolute;
  left:72px;
  top:11px;
  width:45px;
  height:46px;
}
#u3052 {
  position:absolute;
  left:2px;
  top:15px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3054_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:380px;
  height:380px;
}
#u3054 {
  position:absolute;
  left:189px;
  top:427px;
  width:330px;
  height:330px;
}
#u3054_img.selected {
}
#u3054.selected {
}
#u3055 {
  position:absolute;
  left:2px;
  top:157px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:190px;
}
#u3056 {
  position:absolute;
  left:259px;
  top:457px;
  width:190px;
  height:190px;
}
#u3057 {
  position:absolute;
  left:2px;
  top:87px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u3058 {
  position:absolute;
  left:274px;
  top:657px;
  width:161px;
  height:45px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u3059 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u3060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#8C959F;
}
#u3060 {
  position:absolute;
  left:259px;
  top:702px;
  width:192px;
  height:40px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#8C959F;
}
#u3061 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u3062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3063_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:380px;
  height:380px;
}
#u3063 {
  position:absolute;
  left:549px;
  top:427px;
  width:330px;
  height:330px;
}
#u3063_img.selected {
}
#u3063.selected {
}
#u3064 {
  position:absolute;
  left:2px;
  top:157px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u3065 {
  position:absolute;
  left:633px;
  top:657px;
  width:161px;
  height:45px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u3066 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u3067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#8C959F;
}
#u3067 {
  position:absolute;
  left:618px;
  top:702px;
  width:198px;
  height:40px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#8C959F;
}
#u3068 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
#u3069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:190px;
}
#u3069 {
  position:absolute;
  left:618px;
  top:457px;
  width:190px;
  height:190px;
}
#u3070 {
  position:absolute;
  left:2px;
  top:87px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3072_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:380px;
  height:380px;
}
#u3072 {
  position:absolute;
  left:549px;
  top:787px;
  width:330px;
  height:330px;
}
#u3072_img.selected {
}
#u3072.selected {
}
#u3073 {
  position:absolute;
  left:2px;
  top:157px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:191px;
}
#u3074 {
  position:absolute;
  left:619px;
  top:817px;
  width:190px;
  height:191px;
}
#u3075 {
  position:absolute;
  left:2px;
  top:88px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u3076 {
  position:absolute;
  left:633px;
  top:1018px;
  width:161px;
  height:45px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u3077 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u3078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#8C959F;
}
#u3078 {
  position:absolute;
  left:640px;
  top:1063px;
  width:147px;
  height:40px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#8C959F;
}
#u3079 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u3080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3081_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:380px;
  height:380px;
}
#u3081 {
  position:absolute;
  left:189px;
  top:787px;
  width:330px;
  height:330px;
}
#u3081_img.selected {
}
#u3081.selected {
}
#u3082 {
  position:absolute;
  left:2px;
  top:157px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u3083 {
  position:absolute;
  left:274px;
  top:1018px;
  width:161px;
  height:45px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u3084 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u3085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#8C959F;
}
#u3085 {
  position:absolute;
  left:281px;
  top:1063px;
  width:147px;
  height:40px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#8C959F;
}
#u3086 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u3087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:190px;
}
#u3087 {
  position:absolute;
  left:259px;
  top:817px;
  width:190px;
  height:190px;
}
#u3088 {
  position:absolute;
  left:2px;
  top:87px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3090_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:380px;
  height:380px;
}
#u3090 {
  position:absolute;
  left:189px;
  top:1147px;
  width:330px;
  height:330px;
}
#u3090_img.selected {
}
#u3090.selected {
}
#u3091 {
  position:absolute;
  left:2px;
  top:157px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:191px;
}
#u3092 {
  position:absolute;
  left:259px;
  top:1177px;
  width:190px;
  height:191px;
}
#u3093 {
  position:absolute;
  left:2px;
  top:88px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u3094 {
  position:absolute;
  left:273px;
  top:1378px;
  width:161px;
  height:45px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:32px;
  color:#000000;
}
#u3095 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u3096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#8C959F;
}
#u3096 {
  position:absolute;
  left:280px;
  top:1423px;
  width:153px;
  height:40px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#8C959F;
}
#u3097 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u3098 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3099_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:380px;
  height:380px;
}
#u3099 {
  position:absolute;
  left:549px;
  top:1147px;
  width:330px;
  height:330px;
}
#u3099_img.selected {
}
#u3099.selected {
}
#u3100 {
  position:absolute;
  left:2px;
  top:157px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:225px;
}
#u3101 {
  position:absolute;
  left:602px;
  top:1200px;
  width:225px;
  height:225px;
}
#u3102 {
  position:absolute;
  left:2px;
  top:104px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u3103 {
  position:absolute;
  left:159px;
  top:313px;
  width:750px;
  height:40px;
}
#u3104 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3106_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:700px;
  height:310px;
}
#u3106 {
  position:absolute;
  left:1200px;
  top:300px;
  width:650px;
  height:260px;
}
#u3106_img.selected {
}
#u3106.selected {
}
#u3107 {
  position:absolute;
  left:2px;
  top:122px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u3108 {
  position:absolute;
  left:1250px;
  top:371px;
  width:550px;
  height:118px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u3109 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u3110_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:896px;
  height:595px;
}
#u3110 {
  position:absolute;
  left:1200px;
  top:610px;
  width:846px;
  height:545px;
}
#u3110_img.selected {
}
#u3110.selected {
}
#u3111 {
  position:absolute;
  left:2px;
  top:264px;
  width:842px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:354px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u3112 {
  position:absolute;
  left:1250px;
  top:681px;
  width:740px;
  height:354px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u3113 {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  word-wrap:break-word;
}
#u3114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u3114 {
  position:absolute;
  left:2089px;
  top:566px;
  width:150px;
  height:150px;
}
#u3115 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
