body {
  margin:0px;
  background-color:rgba(242, 244, 247, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2239px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:1759px;
}
#u4088 {
  position:absolute;
  left:100px;
  top:100px;
  width:868px;
  height:1759px;
}
#u4089 {
  position:absolute;
  left:2px;
  top:872px;
  width:864px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_img {
  position:absolute;
  left:-30px;
  top:-30px;
  width:820px;
  height:1404px;
}
#u4090 {
  position:absolute;
  left:159px;
  top:313px;
  width:750px;
  height:1334px;
}
#u4091 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092 {
  position:absolute;
  left:159px;
  top:459px;
  width:750px;
  height:1188px;
  overflow:hidden;
  touch-action:none;
}
#u4092_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1188px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4092_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4093 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:3258px;
  overflow:hidden;
}
#u4093_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:3258px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4093_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:3258px;
}
#u4094 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:3258px;
}
#u4095 {
  position:absolute;
  left:2px;
  top:1621px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u4096 {
  position:absolute;
  left:50px;
  top:50px;
  width:485px;
  height:71px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:48px;
  color:#000000;
}
#u4097 {
  position:absolute;
  left:2px;
  top:2px;
  width:481px;
  white-space:nowrap;
}
#u4098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:44px;
}
#u4098 {
  position:absolute;
  left:50px;
  top:137px;
  width:414px;
  height:44px;
  font-size:28px;
}
#u4099 {
  position:absolute;
  left:2px;
  top:2px;
  width:410px;
  white-space:nowrap;
}
#u4100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:400px;
}
#u4100 {
  position:absolute;
  left:0px;
  top:281px;
  width:750px;
  height:400px;
}
#u4101 {
  position:absolute;
  left:2px;
  top:192px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:163px;
}
#u4102 {
  position:absolute;
  left:50px;
  top:731px;
  width:650px;
  height:163px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:38px;
  color:#000000;
}
#u4102_img.selected {
  left:-10px;
  top:-10px;
  width:680px;
  height:193px;
}
#u4102.selected {
}
#u4103 {
  position:absolute;
  left:2px;
  top:2px;
  width:646px;
  word-wrap:break-word;
}
#u4104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:2px;
}
#u4104 {
  position:absolute;
  left:50px;
  top:939px;
  width:650px;
  height:1px;
}
#u4105 {
  position:absolute;
  left:2px;
  top:-8px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:229px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4106 {
  position:absolute;
  left:50px;
  top:989px;
  width:650px;
  height:229px;
}
#u4106_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:229px;
  background:inherit;
  background-color:rgba(255, 253, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
}
#u4106.selected {
}
#u4107 {
  position:absolute;
  left:2px;
  top:2px;
  width:646px;
  word-wrap:break-word;
}
#u4108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:274px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B2B2B2;
}
#u4109 {
  position:absolute;
  left:150px;
  top:1238px;
  width:500px;
  height:274px;
  color:#B2B2B2;
}
#u4109_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:274px;
  background:inherit;
  background-color:rgba(255, 253, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  color:#B2B2B2;
}
#u4109.selected {
}
#u4110 {
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u4111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B2B2B2;
}
#u4111 {
  position:absolute;
  left:90px;
  top:1240px;
  width:26px;
  height:49px;
  color:#B2B2B2;
}
#u4111_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 253, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  color:#B2B2B2;
}
#u4111.selected {
}
#u4112 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  white-space:nowrap;
}
#u4113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:229px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B2B2B2;
}
#u4114 {
  position:absolute;
  left:150px;
  top:1542px;
  width:500px;
  height:229px;
  color:#B2B2B2;
}
#u4114_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:229px;
  background:inherit;
  background-color:rgba(255, 253, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  color:#B2B2B2;
}
#u4114.selected {
}
#u4115 {
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u4116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B2B2B2;
}
#u4116 {
  position:absolute;
  left:90px;
  top:1544px;
  width:32px;
  height:49px;
  color:#B2B2B2;
}
#u4116_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 253, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  color:#B2B2B2;
}
#u4116.selected {
}
#u4117 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u4118 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B2B2B2;
}
#u4119 {
  position:absolute;
  left:150px;
  top:1801px;
  width:500px;
  height:139px;
  color:#B2B2B2;
}
#u4119_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 253, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  color:#B2B2B2;
}
#u4119.selected {
}
#u4120 {
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u4121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B2B2B2;
}
#u4121 {
  position:absolute;
  left:90px;
  top:1803px;
  width:32px;
  height:49px;
  color:#B2B2B2;
}
#u4121_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 253, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  color:#B2B2B2;
}
#u4121.selected {
}
#u4122 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u4123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B2B2B2;
}
#u4124 {
  position:absolute;
  left:150px;
  top:1970px;
  width:500px;
  height:139px;
  color:#B2B2B2;
}
#u4124_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 253, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  color:#B2B2B2;
}
#u4124.selected {
}
#u4125 {
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u4126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B2B2B2;
}
#u4126 {
  position:absolute;
  left:90px;
  top:1972px;
  width:32px;
  height:49px;
  color:#B2B2B2;
}
#u4126_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 253, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  color:#B2B2B2;
}
#u4126.selected {
}
#u4127 {
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u4128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u4128 {
  position:absolute;
  left:0px;
  top:1px;
  width:750px;
  height:1px;
}
#u4129 {
  position:absolute;
  left:2px;
  top:-8px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:400px;
}
#u4130 {
  position:absolute;
  left:0px;
  top:2159px;
  width:750px;
  height:400px;
}
#u4131 {
  position:absolute;
  left:2px;
  top:192px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:44px;
}
#u4132 {
  position:absolute;
  left:321px;
  top:2579px;
  width:117px;
  height:44px;
}
#u4133 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  white-space:nowrap;
}
#u4134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4134 {
  position:absolute;
  left:50px;
  top:2650px;
  width:650px;
  height:184px;
}
#u4134_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 253, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
}
#u4134.selected {
}
#u4135 {
  position:absolute;
  left:2px;
  top:2px;
  width:646px;
  word-wrap:break-word;
}
#u4136 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:40px;
}
#u4137 {
  position:absolute;
  left:80px;
  top:2894px;
  width:31px;
  height:40px;
}
#u4138 {
  position:absolute;
  left:2px;
  top:12px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B2B2B2;
}
#u4139 {
  position:absolute;
  left:150px;
  top:2894px;
  width:500px;
  height:139px;
  color:#B2B2B2;
}
#u4139_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 253, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  color:#B2B2B2;
}
#u4139.selected {
}
#u4140 {
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u4141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:34px;
}
#u4142 {
  position:absolute;
  left:80px;
  top:3083px;
  width:40px;
  height:34px;
}
#u4143 {
  position:absolute;
  left:2px;
  top:9px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B2B2B2;
}
#u4144 {
  position:absolute;
  left:150px;
  top:3083px;
  width:500px;
  height:139px;
  color:#B2B2B2;
}
#u4144_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:139px;
  background:inherit;
  background-color:rgba(255, 253, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  -webkit-box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  box-shadow:5px 5px 15px rgba(107, 107, 107, 0.349019607843137);
  color:#B2B2B2;
}
#u4144.selected {
}
#u4145 {
  position:absolute;
  left:2px;
  top:2px;
  width:496px;
  word-wrap:break-word;
}
#u4146 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4147_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:294px;
  height:230px;
}
#u4147 {
  position:absolute;
  left:812px;
  top:1012px;
  width:264px;
  height:200px;
}
#u4148 {
  position:absolute;
  left:2px;
  top:92px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:2px;
}
#u4149 {
  position:absolute;
  left:829px;
  top:1112px;
  width:230px;
  height:1px;
}
#u4150 {
  position:absolute;
  left:2px;
  top:-8px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
}
#u4151 {
  position:absolute;
  left:860px;
  top:1042px;
  width:69px;
  height:48px;
  font-size:34px;
}
#u4152 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u4153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
}
#u4153 {
  position:absolute;
  left:860px;
  top:1135px;
  width:171px;
  height:48px;
  font-size:34px;
}
#u4154 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u4092_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1188px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4092_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4092_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1188px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4092_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4092_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1188px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4092_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u4155 {
  position:absolute;
  left:492px;
  top:322px;
  width:84px;
  height:28px;
  font-size:24px;
}
#u4156 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u4157 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:108px;
}
#u4158 {
  position:absolute;
  left:159px;
  top:351px;
  width:750px;
  height:108px;
}
#u4159 {
  position:absolute;
  left:2px;
  top:46px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u4160 {
  position:absolute;
  left:209px;
  top:390px;
  width:35px;
  height:30px;
}
#u4161 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u4162 {
  position:absolute;
  left:159px;
  top:313px;
  width:750px;
  height:40px;
}
#u4163 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4165_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:120px;
  height:120px;
}
#u4165 {
  position:absolute;
  left:719px;
  top:1397px;
  width:100px;
  height:100px;
}
#u4166 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4167 {
  position:absolute;
  left:749px;
  top:1445px;
  width:40px;
  height:5px;
}
#u4168 {
  position:absolute;
  left:2px;
  top:-6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4169 {
  position:absolute;
  left:749px;
  top:1430px;
  width:40px;
  height:5px;
}
#u4170 {
  position:absolute;
  left:2px;
  top:-6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4171 {
  position:absolute;
  left:749px;
  top:1460px;
  width:40px;
  height:5px;
}
#u4172 {
  position:absolute;
  left:2px;
  top:-6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4173 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:649px;
}
#u4174 {
  position:absolute;
  left:569px;
  top:728px;
  width:250px;
  height:639px;
}
#u4175 {
  position:absolute;
  left:2px;
  top:312px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u4176 {
  position:absolute;
  left:619px;
  top:756px;
  width:69px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u4177 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u4178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u4178 {
  position:absolute;
  left:619px;
  top:824px;
  width:69px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u4179 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u4180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u4180 {
  position:absolute;
  left:619px;
  top:902px;
  width:69px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u4181 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u4182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u4182 {
  position:absolute;
  left:619px;
  top:980px;
  width:137px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u4183 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u4184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u4184 {
  position:absolute;
  left:619px;
  top:1058px;
  width:103px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u4185 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u4186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u4186 {
  position:absolute;
  left:619px;
  top:1136px;
  width:69px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u4187 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u4188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u4188 {
  position:absolute;
  left:619px;
  top:1214px;
  width:137px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u4189 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u4190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u4190 {
  position:absolute;
  left:619px;
  top:1292px;
  width:69px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u4191 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u4192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:562px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  -webkit-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  color:#8C8C8C;
}
#u4193 {
  position:absolute;
  left:240px;
  top:700px;
  width:589px;
  height:562px;
  color:#8C8C8C;
}
#u4194 {
  position:absolute;
  left:2px;
  top:273px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:59px;
}
#u4195 {
  position:absolute;
  left:310px;
  top:797px;
  width:295px;
  height:59px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u4196 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u4197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
}
#u4197 {
  position:absolute;
  left:691px;
  top:1160px;
  width:69px;
  height:48px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#666666;
}
#u4198 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u4199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
}
#u4199 {
  position:absolute;
  left:572px;
  top:1160px;
  width:69px;
  height:48px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#666666;
}
#u4200 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u4201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4201 {
  position:absolute;
  left:310px;
  top:910px;
  width:450px;
  height:170px;
}
#u4202 {
  position:absolute;
  left:2px;
  top:77px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#CCCCCC;
}
#u4203 {
  position:absolute;
  left:344px;
  top:929px;
  width:234px;
  height:42px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:30px;
  color:#CCCCCC;
}
#u4204 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u4205 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4206 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4207 {
  position:absolute;
  left:730px;
  top:738px;
  width:41px;
  height:41px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u4208 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4209 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:562px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  -webkit-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  color:#8C8C8C;
}
#u4210 {
  position:absolute;
  left:240px;
  top:700px;
  width:589px;
  height:562px;
  color:#8C8C8C;
}
#u4211 {
  position:absolute;
  left:2px;
  top:273px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:59px;
}
#u4212 {
  position:absolute;
  left:310px;
  top:813px;
  width:295px;
  height:59px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u4213 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u4214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#000000;
  text-align:center;
}
#u4214 {
  position:absolute;
  left:486px;
  top:919px;
  width:103px;
  height:48px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#000000;
  text-align:center;
}
#u4215 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u4216 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4218 {
  position:absolute;
  left:730px;
  top:738px;
  width:41px;
  height:41px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u4219 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#000000;
  text-align:center;
}
#u4220 {
  position:absolute;
  left:486px;
  top:987px;
  width:103px;
  height:48px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#000000;
  text-align:center;
}
#u4221 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u4222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#000000;
  text-align:center;
}
#u4222 {
  position:absolute;
  left:487px;
  top:1055px;
  width:103px;
  height:48px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#000000;
  text-align:center;
}
#u4223 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u4224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#000000;
  text-align:center;
}
#u4224 {
  position:absolute;
  left:487px;
  top:1123px;
  width:103px;
  height:48px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#000000;
  text-align:center;
}
#u4225 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u4226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4227 {
  position:absolute;
  left:839px;
  top:382px;
  width:12px;
  height:12px;
}
#u4228 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4229 {
  position:absolute;
  left:839px;
  top:399px;
  width:12px;
  height:12px;
}
#u4230 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4231 {
  position:absolute;
  left:839px;
  top:416px;
  width:12px;
  height:12px;
}
#u4232 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4233 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  -webkit-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  color:#8C8C8C;
}
#u4234 {
  position:absolute;
  left:609px;
  top:469px;
  width:250px;
  height:200px;
  color:#8C8C8C;
}
#u4235 {
  position:absolute;
  left:2px;
  top:92px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
}
#u4236 {
  position:absolute;
  left:659px;
  top:508px;
  width:69px;
  height:48px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#000000;
}
#u4237 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u4238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
}
#u4238 {
  position:absolute;
  left:659px;
  top:587px;
  width:69px;
  height:48px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#000000;
}
#u4239 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u4240 {
  position:absolute;
  left:795px;
  top:359px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4241 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  -webkit-box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  box-shadow:5px 5px 15px rgba(0, 0, 0, 0.176470588235294);
  color:#8C8C8C;
}
#u4242 {
  position:absolute;
  left:400px;
  top:902px;
  width:300px;
  height:300px;
  color:#8C8C8C;
}
#u4243 {
  position:absolute;
  left:2px;
  top:142px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:124px;
}
#u4244 {
  position:absolute;
  left:476px;
  top:959px;
  width:172px;
  height:124px;
  color:#8C8C8C;
}
#u4245 {
  position:absolute;
  left:2px;
  top:54px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
}
#u4246 {
  position:absolute;
  left:499px;
  top:1115px;
  width:103px;
  height:48px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:34px;
  color:#8C8C8C;
}
#u4247 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u4248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4249_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:700px;
  height:343px;
}
#u4249 {
  position:absolute;
  left:1200px;
  top:300px;
  width:650px;
  height:293px;
}
#u4249_img.selected {
}
#u4249.selected {
}
#u4250 {
  position:absolute;
  left:2px;
  top:138px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u4251 {
  position:absolute;
  left:1250px;
  top:381px;
  width:550px;
  height:118px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u4252 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u4253 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4254_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:120px;
  height:120px;
}
#u4254 {
  position:absolute;
  left:1354px;
  top:428px;
  width:100px;
  height:100px;
}
#u4255 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4256 {
  position:absolute;
  left:1384px;
  top:476px;
  width:40px;
  height:5px;
}
#u4257 {
  position:absolute;
  left:2px;
  top:-6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4258 {
  position:absolute;
  left:1384px;
  top:461px;
  width:40px;
  height:5px;
}
#u4259 {
  position:absolute;
  left:2px;
  top:-6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4260 {
  position:absolute;
  left:1384px;
  top:491px;
  width:40px;
  height:5px;
}
#u4261 {
  position:absolute;
  left:2px;
  top:-6px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4262_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:700px;
  height:270px;
}
#u4262 {
  position:absolute;
  left:1200px;
  top:643px;
  width:650px;
  height:220px;
}
#u4262_img.selected {
}
#u4262.selected {
}
#u4263 {
  position:absolute;
  left:2px;
  top:102px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u4264 {
  position:absolute;
  left:1250px;
  top:724px;
  width:550px;
  height:59px;
  font-family:'PingFangSC-Light', 'PingFang SC Light', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:42px;
  color:#000000;
}
#u4265 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  word-wrap:break-word;
}
#u4266 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4267 {
  position:absolute;
  left:1481px;
  top:731px;
  width:12px;
  height:12px;
}
#u4268 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4269 {
  position:absolute;
  left:1481px;
  top:748px;
  width:12px;
  height:12px;
}
#u4270 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4271 {
  position:absolute;
  left:1481px;
  top:765px;
  width:12px;
  height:12px;
}
#u4272 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u4273 {
  position:absolute;
  left:2089px;
  top:566px;
  width:150px;
  height:150px;
}
#u4274 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
